/__pycache__
/card_game.py
/collatz.py
/conway.py
/notes.txt
/numb_guess2.py
/number_guess.py
/quick_test.py
/quiz.py
/remove_z_name.py
/rockpapersc.py
/sum of integers.py
/test2.py
/tictactoe.py
/tictactoe2.py
/turtle_list.py
/turtlefun.py
/while.py
/zigzag.py